@use 'variables';

.capa {
    max-width: 100%;
    background-color:black;

    &__lista {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        
        .item {
            margin-top: 10px;

            &__link {
                align-items: center;
                font-family: 'Oswald', sans-serif;
                border-right: 1px solid variables.$corTextoSecundario;
                border-left: 1px solid variables.$corTextoSecundario;
                padding-right: 20px;
                padding-left: 20px;

                &:hover {
                    border-bottom-width: 1px;
                    border-bottom: 2px solid variables.$corTextoPrincipal;
                }

                &:hover::before {
                    width: 10%;
                }

            }
        }
        
    }

    img {
        margin-top: 25px;
        max-width: 100%;

    }

    &__content {
        position: relative;
        display: inline-block;
    }

    &__paragrafo {
        position: absolute;
        top: 82%; /* ajuste na vertical*/
        left: calc(60% + 145px); /* ajuste na horizontal */
        transform: translate(-50%, -50%); /* Centralize o texto no centro da imagem */
        background: rgba(0, 0, 0, 0.7); /* Fundo com transparência (neste caso, 0.7) */
        color: #fff; /* Cor do texto */
        padding: 10px; 
        background-color: transparent;
        text-align: justify;
        font-family: 'Caveat', cursive;
        font-size: 12px;
    }

    &__span {
        color: rgb(255, 0, 0);
        font-size: 18px;
    }

}

.nave {
    display: inline;
    font-family: 'Oswald', sans-serif;
}