@use 'variables';

.sobre {
    width: 100%;

    h2 {
        margin-top: 20px;
    }

    
    &__content {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 16px; 
        margin: 80px 0;
        text-align: center;
        padding: 20px;
        


    }

    &__item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: calc(50% - 16px);

        p {
            max-width: 70%;
            padding: 40px 0;
        }
    }
}

.enredo {
    

    h2 {
        background-color: transparent;
        background-image: none;
        font-weight: bold;
        margin-bottom: 30px;
        
    }

    p {
        width: 90%;
        margin: 0 auto;
        text-align: justify;
        margin-bottom: 20px;
    }

    img {
        display: flex;
        width: 80%;
        max-width: 100%;
        margin: 0 auto;
        border-radius: 5px;
        margin-bottom: 20px;
    }

}

.elenco {
    max-width: 100%;
    margin-top: 0px;



    &__atores {
        
        img {
            width: 60px;
            height: 90px;
            margin-bottom: 10px;
            border-radius: 20px;
            border: 2px solid variables.$corTextoPrincipal;
        }
    }

}


#lista__atores {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    margin: 80px 0;
    text-align: center;

    h3, h4 {
        max-width: 180px;
    }

    li {
        margin-bottom: 40px;
    }
    
}
.elenco__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: calc(25% - 16px); /* 4 items por linha no desktop */
    
  }

@media (min-width:320px) and (max-width: 767px) {

 

    .sobre {
        width: 100%;
        margin: 0;

        &__content {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            margin-top: 0px;

        }
        

        &__content {
            display: block;
        }

        p {
            width: 90%;
            padding-left: 0;
            padding-top: 0;
            margin: 0 auto;
            text-align: justify;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        #sobre__paragrafo2 {
            padding-right: 0px;
            padding-bottom: 0px;
        }

        .title {
            margin: 0;
        }
        
    }
    .elenco__item {
        min-width: calc(50% - 16px); /* 2 items por linha em tablet */
      }




}

@media (max-width: 480px) { /* Breakpoint celular */
    .elenco__item {
      min-width: calc(100% - 16px); /* 1 item por linha no celular */
    }
  }